<main class="container">
    <h1>Painel Administrativo - Delivery Tracker</h1>

    <a href="/painel/entregas/nova" class="botao">Cadastrar nova entrega</a>
    <a href="/painel/motoristas/novo" class="botao">Cadastrar novo motorista</a>

</main>