<nav class="navbar">
    <ul class="navbar-menu">
        <li class="nav-entrega">
            <a href="/painel/entregas" class="nav-link">Entregas</a>
        </li>

        <li class="nav-motorista">
            <a href="/painel/motoristas" class="nav-link">Motoristas</a>
        </li>

        <li class="nav-entrega">
            <a href="/painel/entregas/nova" class="nav-link">Nova entrega</a>
        </li>

        <li class="nav-motorista">
            <a href="/painel/motoristas/novo" class="nav-link">Novo motorista</a>
        </li>
    </ul>
</nav>