<main class="container">
    <% if (typeof motoristas === 'undefined' || motoristas.length === 0) { %>
    <p class="vazio">Não há motoristas cadastrados.</p>
    <% } else { %>
        <table class="tabela">
            <thead>
                <tr><th>Nome</th><th>CPF</th><th>Placa</th><th>Status</th></tr>
            </thead>

            <tbody>
                <% motoristas.forEach(m => { %>
                    <tr>
                        <td><%= m.nome %></td>
                        <td><%= m.cpf %></td>
                        <td><%= m.placaVeiculo %></td>
                        <td><%= m.status %></td>
                    </tr>
               <% }); %>
            </tbody>
        </table>
    <% } %>
</main>