<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title><%= typeof titulo !== 'undefined' ? titulo: 'API ENTREGAS' %></title>
    </head>

    <body>
        <h1>Painel Administrativo - Delivery Tracker</h1>
        
        <%- include('../partials/nav')%>
        <%- include('../partials/flash')%>
        <%- body %>

        <footer>
            <p>Delivery Tracker - Painel Administrativo</p>
        </footer>
    </body>
</html>